body {
  background-color: black;
  text-shadow:0px 0px 10px #000;
  color:white;
  text-align: center;
}

header {
  width: 100%;
  height: 60px;
  float: left;
  background-color: grey;
  border-bottom: 1px solid #dedede;
}

.header-section {
  margin-top: 20px;
}

.hidden {
  display: none;
}

h1 {
  float: left;
  margin-left: 20px;
  font-family: 'Architects Daughter';
  font-size: 55px;
  color: white;
  text-shadow:0px 0px 10px #000;
  text-align: center;
}

input[type="email"] {
  margin-top: 1px;
  margin-bottom: 10px;
  border: 1px solid yellow;
  height: 30px;
  width: 200px;
  margin-right: 20px;
}

input[type="password"] {
  margin-top: 15px;
  border: 1px solid yellow;
  height: 30px;
  width: 200px;
  margin-right: 20px;
}

// buttons

.button {
  height: 50px;
}

/*input[type="submit"]{
  float: center;
  margin-top: 10px;
  font-size: 20px;
}*/

.doRegister {
  margin-top: 10px;
  font-size: 100px;
}

.doLogin {
  margin-top: 10px;
  font-size: 100px;
}

.doLogout {
  margin-top: 10px;
  font-size: 100px;
}

.doResetPassword {
  margin-top: 10px;
  font-size: 100px;
  color: red;
}

h1 {
  font-size: 3.2rem;
  color: #FFFFAA;
  font-family: 'Bangers', cursive;
  margin-top: 3px;
}

h2 {
  font-size: 200rem;
  color: green;
}

img {
  max-width: 200px;
  max-height: 213px;
  border: 1px solid #dedede;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.smallImage {
  max-width: 80px;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

th {
  border: 1px solid black;
  width: 20%;
  padding: 30px;
  font-family: 'Bangers';
  text-align: left;
  font-size: 25px;
  color: white;
}

.movieData {
  border: 1px solid black;
  padding: 5px;
  font-family: 'Bangers';
  text-align: center;
  font-size: 30px;
  color: white;
  text-align: center;
}

.addMovieDetailInfo {
  border: 1px solid black;
  padding: 5px;
  font-family: 'Bangers';
  /*font-size: 15px;*/
  color: white;
  text-align: left;

}

td {
  font-size: 35px;
  color: yellow;
  font-family: 'Bangers';
  height: 125px;
  width: 10%;
  background-color: rgba(102, 153, 153, .2);
  text-align: center;
}

hr {
  margin-top: 10px;
  margin-bottom: 0px;
}

.data-container{
  margin-top: 50px auto 0;
}

.movie {
  color: lightblue;
  background-color: lightblue:
  border-color: lightblue;
}

#movieTitle {
  width: 300px;
  height: 40px;
  padding: 1.5px;
  margin-top: 15px;
  margin-right: 20px;
}
